
'.tree-view':
  'o': 'tree-view:open-selected-entry'
  'shift-cmd-j': 'tree-view:open-selected-entry'
  'shift-cmd-k': 'tree-view:open-selected-entry'

'atom-workspace-axis.vertical':
  'shift-cmd-k': 'pane:show-next-item'
  'shift-cmd-j': 'pane:show-previous-item'

'*':
  'shift-cmd-o': 'tree-view:toggle-focus'
